// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page{
    background: $colour-dark1;
    min-height: 100vh;
    min-width: 100vw;
    font-family: $font-primary;
    white-space: nowrap;

    h1{
        color: $colour-primary;
        font-family: $font-secondary;
    }

    .col-general{
        display: inline-block;
        float: none;
    }

    .scrollbar{
        position: absolute;
        bottom: 7.5%;
        left: 20%;
        right: 20%;
        height: 1px;
        background-color: rgba(255,255,255,0.25);
        .scrollbar-handle{
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 100%;
            background-color: #fff;
        }
    }
}