@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: Roboto;
}

.loading-page{
  background: $colour-dark1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .counter{
    text-align: center;
    
    p{
      font-size: 40px;
      font-weight: 100;
      color: $colour-primary;
      animation-name: fade-in-out;
      animation-fill-mode: both;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
    }
    hr{
      background: $colour-primary;
      border: none;
      height: 1px;
    }
  }

  .counter{
    position: relative;
    width: 200px;
    .color{
      width: 0px;
      overflow: hidden;
      color: $colour-primary;
    }
  }
}

$animationDelay: 1;
@for $i from 1 through 15 {
	.projects div:nth-of-type(#{$i}) {
		animation-delay: #{0.3+($i)/30}s;
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}